// Colours:

$black: rgb(42, 42, 42)
$white: rgb(239, 239, 239)
$yellow: rgb(254, 204, 24)
$blue: rgb(41, 81, 167)
$hblack: rgba(42, 42, 42, .25)
$hblue: rgb(11, 51, 117)

// Sizing Units:

$unit: 4px
$size: 6 *  $unit

// ? Utilities:

@mixin reset
    margin: 0
    padding: 0
    box-sizing: border-box

@mixin flex-center 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@mixin touch-target
    min-width: 48px
    min-height: 48px

@mixin hoverable 
    user-select: none

    &:hover
        cursor: pointer

@mixin position-center 
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

// ? Styles:

$shadow: $unit 2 * $unit $unit $hblack

// ? Components:

@mixin heading
    font-size: 2 * $size
    line-height: 3 * $size
    font-family: 'Bangers', cursive

@mixin container 
    font-family: 'Montserrat', sans-serif
    font-size: $size
    line-height: 150%

    display: grid
    gap: 2 * $size

@mixin input 
    background: $white
    border: $unit solid $black
    box-shadow: $shadow
    border-radius: 4 * $unit
    padding: .75 * $size
    font-family: 'Montserrat', sans-serif
    font-size: .75 * $size
    min-width: 350px
    margin: 2 * $unit 0

@mixin textarea 
    resize: none
    min-height: 8 * $size
    line-height: 150%

@mixin link 
    color: inherit
    text-decoration: none

@mixin responsive-img 
    pointer-events: none
    margin: 2 * $size 0

@mixin btn($bg-color, $text-color, $border-color) 
    background: $bg-color
    border: $unit solid $border-color
    box-shadow: $shadow
    border-radius: .5 * $size
    color: $text-color
    font-size: $size
    font-family: 'Montserrat', sans-serif
    transition: .25s all ease-out

@mixin font-awesome-icon 
    font-size: 1.75 * $size
    transition: .25s all ease-out
    padding: .75 * $size
    border: $unit solid transparent
    border-radius: $size
    margin: 0 2 * $unit 
    color: $black

    &:hover
        cursor: pointer
        border-color: $black
        box-shadow: $shadow

@mixin header 
    background: $white
    border: $unit solid $blue
    box-shadow: 0 2 * $unit $unit $hblack
    padding: $size 2 * $size
    position: fixed
    top: 0
    z-index: 3  
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    
// ? Utility Selectors: 

*
    @include reset

    &:focus
        outline-offset: .5 * $size

.touch-target
    @include touch-target

body
    background: $white
    overflow-x: hidden

.App
    @include container

.hover
    @include hoverable

// ? Scrollbar: 

::-webkit-scrollbar 
    width: $size
    background: $white
    border: .25 * $unit solid $black

::-webkit-scrollbar-thumb
    background: $yellow
    border: .75 * $unit solid $black 
    border-radius: .25 * $size

// ? Inline Components:

.icon
    font-size: 1.75 * $size
    color: $black

    position: relative
    top: -$unit

.name
    @include heading
    letter-spacing: .5 * $unit
    transition: .25s all ease-out

    &:hover
        filter: drop-shadow($shadow)

.btn
    @include btn($blue, $white, $white)
    padding: $size

    &:hover
        background: $hblue
    
.request
    padding: 0 max(1.5 * $size, 0)

.input
    @include input

.textarea 
    @include textarea

.contact-links
    display: flex
    justify-content: space-around
    width: 15vw

i[disabled]
    color: $hblack

    &:hover
        border-color: transparent
        box-shadow: none
        cursor: not-allowed

.fab
    @include font-awesome-icon

.copyright
    max-width: 50vw
    font-size: .75 * $size

a
    @include link

// ? Block Level Components: 

.header
    @include header

.main-content
    display: grid
    gap: 4 * $size
    margin-top: 5 * $size

.article
    display: flex
    justify-content: space-evenly
    align-items: center

.introduction, .explanation, .text-content, .biography
    @include flex-center

.contact-form-container
    @include flex-center

.form
    display: flex
    flex-direction: column
    z-index: 1
    background: $yellow
    border-radius: 75% 25% 25% 75% / 25% 51% 49% 75% 
    padding: .75 * $size

.footer
    background: $yellow
    padding: $size 3 * $size
    display: flex
    justify-content: space-around
    align-items: center
    
// ? Text Components: 

.heading
    @include heading
    
    letter-spacing: .25 * $unit
    text-align: center
    max-width: 35ch

.description
    font-size: $size
    margin: .75 * $size $size $size $size
    max-width: 35ch

// ? App Components: 

.mobile-container
    @include position-center
    z-index: 3
    background: $white
    height: 100%

    .contact-form-container
        position: relative
        top: .75 * $size
        margin: 0 1.5 * $size 2 * $size 1.5 * $size

.fixed-header
    text-align: center
    margin: 1.5 * $size 0 $size 0

.mobile-content
    display: flex
    align-items: center
    justify-content: center

.saved-countdowns
    display: flex
    flex-direction: column
    font-family: 'Montserrat', sans-rerif
    min-width: 75%
    margin: 0 1.5 * $size

    .heading
        margin: .75 * $size 0

    .description
        margin: .5 * $size 0

.btn-container
    display: flex
    justify-content: center
    margin-top: $size

.arrow-btn
    @include btn($white, $blue, $blue)
    @include hoverable
    padding: .5 * $size
    width: 25%
    margin: 0 .25 * $size

    &:hover 
        background: $blue
        color: $white

.fa-long-arrow-alt-left, .fa-long-arrow-alt-right
    font-size: 1.75 * $size

// ? Illustrations:

.work, .creator, .calendar
    pointer-events: none

// ? Media Queries:

@media (max-width: 1250px) 
    .work, .creator, .calendar
        @include responsive-img

@media (max-width: 1000px) 
    .work, .creator, .calendar
        width: 500px

@media (max-width: 950px) 
    .article, .footer
        flex-direction: column

    .footer
        padding-top: 1.5 * $size

    .form 
        margin: 0 1.5 * $size

    .mobile-content 
        flex-direction: column 

    .contact-form-container
        order: 2

    .saved-countdowns
        order: 1
        margin: 2 * $size 0
        max-width: 75%

@media (max-width: 625px) 
    .header
        @include flex-center

    .header .btn
        display: none

    .copyright
        max-width: unset

@media (max-width: 350px)
    .work, .creator, .calendar
        max-width: 300px
