// ? Utility Selectors: 

@import '../libraries/reusable'

*
    @include reset

    &:focus
        outline-offset: .5 * $size

.touch-target
    @include touch-target

body
    background: $white
    overflow-x: hidden

.App
    @include container

.hover
    @include hoverable

// ? Scrollbar: 

::-webkit-scrollbar 
    width: $size
    background: $white
    border: .25 * $unit solid $black

::-webkit-scrollbar-thumb
    background: $yellow
    border: .75 * $unit solid $black 
    border-radius: .25 * $size

// ? Inline Components:

.icon
    font-size: 1.75 * $size
    color: $black

    position: relative
    top: -$unit

.name
    @include heading

    letter-spacing: .5 * $unit
    transition: .25s all ease-out

    &:hover
        filter: drop-shadow($shadow)

.btn
    @include btn($blue, $white, $white)
    padding: $size

    &:hover
        background: $hblue
    
.request
    padding: 0 max(1.5 * $size, 0)

.input
    @include input

.textarea 
    @include textarea

.contact-links
    display: flex
    justify-content: space-around
    width: 15vw

i[disabled]
    color: $hblack

    &:hover
        border-color: transparent
        box-shadow: none
        cursor: not-allowed

.fab
    @include font-awesome-icon

.copyright
    max-width: 50vw
    font-size: .75 * $size

a
    @include link

// ? Block Level Components: 

.header
    @include header

.main-content
    display: grid
    gap: 4 * $size
    margin-top: 7.5 * $size

.article
    display: flex
    justify-content: space-evenly
    align-items: center

.introduction, .explanation, .text-content, .biography
    @include flex-center
    padding: 0 max(1.5 * $size, 0)

.contact-form-container
    @include flex-center

.form
    display: flex
    flex-direction: column
    z-index: 1
    background: $yellow
    border-radius: 75% 25% 25% 75% / 25% 51% 49% 75% 
    padding: .75 * $size

.footer
    background: $yellow
    padding: $size 3 * $size
    display: flex
    justify-content: space-around
    align-items: center
    
// ? Text Components: 

.heading
    @include heading
    
    letter-spacing: .25 * $unit
    text-align: center
    max-width: 30ch

.description
    font-size: $size
    margin: .75 * $size 0  $size 0
    max-width: 40ch

// ? App Components: 

.mobile-container
    @include position-center
    z-index: 3
    background: $white
    height: 100%

    .contact-form-container
        position: relative
        top: .75 * $size
        margin: 0 1.5 * $size 2 * $size 1.5 * $size

.fixed-header
    text-align: center
    margin: 1.5 * $size 0 $size 0

.mobile-content
    display: flex
    align-items: center
    justify-content: center

.saved-countdowns
    display: flex
    flex-direction: column
    font-family: 'Montserrat', sans-rerif
    min-width: 75%
    margin: 0 1.5 * $size

    .heading
        margin: .75 * $size 0

    .description
        margin: .5 * $size 0

.btn-container
    display: flex
    justify-content: center
    margin-top: $size

.arrow-btn
    @include btn($white, $blue, $blue)
    @include hoverable
    padding: .5 * $size
    width: 25%
    margin: 0 .25 * $size

    &:hover 
        background: $blue
        color: $white

.fa-long-arrow-alt-left, .fa-long-arrow-alt-right
    font-size: 1.75 * $size

// ? Illustrations:

.calendar
    max-height: 400px
    pointer-events: none
    max-width: 40%

.work, .creator
    max-width: 500px
    pointer-events: none
    max-width: 40%

// ? Media Queries:

@media (max-width: 1250px) 
    .calendar
        max-height: 300px
        @include responsive-img

    .work, .creator
        max-width: 400px
        @include responsive-img


@media (max-width: 950px) 
    .article, .footer
        flex-direction: column

    .footer
        padding-top: 1.5 * $size

    .form 
        margin: 0 1.5 * $size

    .mobile-content 
        flex-direction: column 

    .contact-form-container
        order: 2

    .saved-countdowns
        order: 1
        margin: 2 * $size 0
        max-width: 75%

@media (max-width: 625px) 
    .header
        @include flex-center

    .header .btn
        display: none

    .copyright
        max-width: unset

@media (max-width: 500px) 
    .calendar
        max-height: 250px

    .work, .creator
        max-width: 325px
