@import "modules/module"
@import "modules/font"
@import "modules/app"

a
    @include link

*
    @include reset

body
    background: $white
    overflow-x: hidden

.hover
    @include hoverable

.touch-target
    @include touch-target

::selection
    background: $yellow

// Scrollbar

::-webkit-scrollbar
    width: $size
    background: $white

::-webkit-scrollbar-thumb
    background: $yellow
    border: .5 * $unit solid $black
    border-radius: .25 * $size

// Home

.App
    @include container

.main-content
    display: grid
    gap: 4 * $size
    margin-top: -3 * $size

// Event arrow navigation

.arrow-navigation-container
    display: flex
    flex-wrap wrap
    justify-content: center

.arrow-btn
    @include arrow-btn

.arrow
    font-size: 1.75 * $size

// Header

.header
    @include header

.status 
    font-size: 2 * $size

.name
    @include heading
    transition: .25s all ease-out
    display: inline-flex

    &:hover
        filter: drop-shadow($shadow)

// Buttons

.btn
    @include btn($blue, $white)

    &:hover
        background: $hblue

// Paragraphs

.heading
    @include heading
    letter-spacing: .25 * $unit
    text-align: center
    max-width: 35ch

.description
    font-size: $size
    margin: .75 * $size $size $size $size
    max-width: 35ch

// Form

.form
    @include form

.input
    @include input

.textarea
    @include textarea

// Footer

.footer
    padding: $size 3 * $size

.copyright
    font-size: .75 * $size
    text-align: center
    padding: $size

.contact-links
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.sponsorship
    height: 60px
    width: 217px
    object-fit: cover

// Icons

.brand-icon:hover .coffee-vector
    fill: $yellow

.brand-icon
    @include  brand-icon

// Sections 

.article
    display: flex
    justify-content: space-evenly
    align-items: center
    flex-wrap: wrap

.introduction, .explanation, .text-content, .biography
    @include flex-center

.work, .creator, .calendar
    pointer-events: none
    object-fit: cover

// Dialogs

.dialog-event
    height: 90vh

.event-line
    @include event-info-row    

.event-image
    position: absolute  
    left: -1900px
    top: -650px
    opacity: .3
    z-index: -10

.dialog[open]
    @include dialog
    overflow-y: hidden 

#dialog-event
    background-image: url("images/push.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover

#delete-btn
    @include icon-btn(0, red)

#share-btn
    @include icon-btn(100px, $blue)

.share, .delete
    font-size: inherit

@import "modules/responsive"
