@import "module"
@import "font"

a
    @include link

*
    @include reset

body
    background: $white
    overflow-x: hidden

.hover
    @include hoverable

.touch-target
    @include touch-target

// Scrollbar

::-webkit-scrollbar
    width: $size
    background: $white

::-webkit-scrollbar-thumb
    background: $yellow
    border: .5 * $unit solid $black
    border-radius: .25 * $size

// Home.jsx 

.App
    @include container

.main-content
    display: grid
    gap: 4 * $size
    margin-top: -3 * $size

// App.jsx

.mobile-container
    @include position-center
    z-index: 3
    background: $white
    height: 100%

.fixed-header
    text-align: center
    margin: 1.5 * $size 0
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-evenly

.icon
    font-size: 1.75 * $size
    font-family: 'Material Symbols Rounded'
    user-select: none

.done
    background: linear-gradient(to right, lightgreen 50%, green 0)

.contact-form-container
    @include flex-center

.mobile-content
    display: flex
    align-items: flex-end
    justify-content: center
    padding-bottom: $size * 2 !important

.saved-countdowns
    @include interface

    .heading
        margin: .75 * $size 0

    .description
        @include app-paragraph

#events-name, #events-date, #events-description, #events-distance
    margin: $unit * 5 0

.btn-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: $size 0

// AppNavigation.jsx 

.arrow-navigation-container
    display: flex
    flex-wrap: wrap
    justify-content: center

.arrow-btn
    @include hoverable
    @include btn($white, $blue)
    margin: $unit * 2
    display: flex
    flex-wrap: wrap
    justify-content: center

    &:hover
        background: $hwhite

.arrow
    font-size: 1.75 * $size

// Header.jsx 

.header
    @include header

// Name.jsx

.name
    @include heading
    transition: .25s all ease-out
    display: inline-flex

    &:hover
        filter: drop-shadow($shadow)

// Button.jsx

.btn
    @include btn($blue, $white)

    &:hover
        background: $hblue

// Paragraph.jsx

.heading
    @include heading
    letter-spacing: .25 * $unit
    text-align: center
    max-width: 35ch

.description
    font-size: $size
    margin: .75 * $size $size $size $size
    max-width: 35ch
    text-align: justify

// Form.jsx

.form
    @include form

.input
    @include input

.textarea
    @include textarea

// Footer.jsx 

.footer
    padding: $size 3 * $size

.copyright
    font-size: .75 * $size
    text-align: center
    padding: $size

.contact-links
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.sponsorship
    height: 60px
    width: 217px
    object-fit: cover

// GitHubIcon.jsx, LinkedInIcon.jsx 

.brand-icon
    @include hoverable
    margin: 0 $unit * 4
    transition: .25s all ease
    border-radius: 50%
    drop-shadow: $shadow

    &:hover
        background: $yellow

// IntroductorySection.jsx, DescriptiveSection.jsx, AuthorSection.jsx

.article
    display: flex
    justify-content: space-evenly
    align-items: center
    flex-wrap: wrap

.introduction, .explanation, .text-content, .biography
    @include flex-center

.work, .creator, .calendar
    pointer-events: none
    object-fit: cover

// Dialog.jsx

.dialog
    position: absolute
    top: 50%
    left: -25%
    transform: translate(50%,-50%)
    width: 75vw
    height: 40vh
    border: 8px solid red
    background: $white
    box-shadow: $shadow
    border-radius: 4 * $unit
    padding: 1.5 * $size
    font-family: 'Montserrat', sans-serif
    font-size: $size
    display: none

    &::backdrop
        background-color: rgba(0, 0, 0, .75) 

    .dialog-close
        margin-top: $size

        &:hover
            cursor: pointer

// Responsiveness

@media (max-width: 1300px)
    .article
        flex-direction: column

    .calendar, .work, .creator
        margin-top: $size * 2
        object-fit: cover

    .introduction
        margin-top: $size * 2

    .description
        margin: 18px 96px 24px 96px

    .description, .heading
        max-width: 50ch

@media (max-width: 1100px)
    .mobile-content
        flex-direction: column-reverse
        align-items: center

    .saved-countdowns
        min-width: 0

@media (max-width: 600px)
    .arrow-btn
        width: 105px

@media (max-width: 500px)
    #events-name, #events-date, #events-description, #events-distance
        margin: $unit * 8 0

    .form
        padding: $size

    .saved-countdowns
        margin: 0 0 $unit * 9 0
        align-items: center

        .description
            margin-left: 36px !important
            margin-right: 36px !important

    .input
        min-width: 250px

    .fixed-header
        flex-direction: column
        margin-bottom: 0

    .contact-form-container, .mobile-container
        margin: 0 !important
        margin-bottom: $size * 2 !important

    .form
        border-radius: 15% 35% 35% 35%

    #app-form-btn
        padding: $size
        margin-top: $unit * 4.5
